section.hero 
   .hero__slider-block
      .hero__slider 
  
         img(src=require("./assets/jpg/banner1_prog.jpg"), alt="banner").hero__banner-img
           
         img(src=require("./assets/jpg/banner2_prog.jpg"), alt="banner").hero__banner-img
            
         img(src=require("./assets/jpg/banner3_prog.jpg"), alt="banner").hero__banner-img
         
      .hero__adv-banner
         a(href="*") 
            img(src=require("./assets/jpg/banner_change_prog.jpg"), alt="banner").hero__adv-banner.hero__adv-banner1
      .hero__adv-banner
         a(href="*") 
            img(src=require("./assets/jpg/banner_top_prog.jpg"), alt="banner").hero__adv-banner.hero__adv-banner2
      
   .hero__pointers-block 
      button.banner-pointer.pointer-1.active-pointer
      button.banner-pointer.pointer-2.inactive-pointer
      button.banner-pointer.pointer-3.inactive-pointer